.overview-panel {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  background-color: #0e1117;
  flex-wrap: wrap;
}

.metric {
  background: #1c1f26;
  color: #14f1c6;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 0 0 8px #14f1c6;
}
