.navbar {
  background-color: #0d1117;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #1f2937;
}

.navbar-logo {
  font-size: 1.6rem;
  color: #ff0080;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 6px #ff0080;
}



.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links li a {
  color: 	#ff0080;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-links li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  background: #ff0080;
  transition: width 0.3s ease;
  box-shadow: 0 0 5px #ff0080;
}

.navbar-links li a:hover {
  color: #ffffff;
}

.navbar-links li a:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: #0d1117;
    width: 100%;
    text-align: right;
    padding: 1rem 2rem;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin-bottom: 1rem;
  }
}
